<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Episode Details - Finding One Piece</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/episode-style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>
    <div class="body-container">
        <section id="episode-detail" class="episode-detail">
            <div class="search-bar-logo">
                <h3 class="search-bar-title">
                    <span class="first-letter">F</span>inding <span class="first-letter">O</span>ne <span class="first-letter">P</span>iece
                </h3>
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="One Piece Logo" class="one-piece-logo">
            </div>
            <h2>{{ episode.id }} - {{ episode.title }}</h2>
            <div class="wiki-section">
                <h3><strong>Short Summary:</strong></h3>
                <p>{{ episode.short_summary }}</p>
            </div>
            <div class="wiki-section">
                <h3><strong>Long Summary:</strong></h3>
                <p>{{ episode.long_summary }}</p>
            </div>
            <div class="wiki-section">
                <h3><strong>Air Date:</strong></h3>
                <p>{{ episode.air_date }}</p>
            </div>
            <div class="wiki-section">
                <h3><strong>Rating:</strong></h3>
                {% if episode.rating and episode.rating[0] %}
                    <p>{{ episode.rating[0] }}</p>
                {% else %}
                    <p>No rating available</p>
                {% endif %}
            </div>
            <div class="wiki-section">
                <h3><strong>Characters:</strong></h3>
                <ul>
                    {% for character in episode.characters %}
                        <li>{{ character }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="wiki-section">
                <h3><strong>Fruits:</strong></h3>
                <ul>
                    {% set ns = namespace(fruits_printed=false) %}
                    {% if episode.fruits %}
                        {% for fruit in episode.fruits %}
                            {% if fruit %}
                                <li>{{ fruit }}</li>
                                {% set ns.fruits_printed = true %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if not ns.fruits_printed %}
                        <li class="no-fruits">This episode featured no Devil Fruits.</li>
                    {% endif %}
                </ul>
            </div>
        </section>

        <section id="more-like-this">
            <h2> <span class="first-letter">N</span>ext <span class="first-letter">E</span>pisodes:</h2>
            <div id="recommendation-buttons" class="recommendation-buttons">
                <!-- Buttons for recommendations will be added here -->
            </div>
        </section>
    </div>

    <script>

        // Load episode data when the page loads
        //loadEpisodeData();

        async function loadMoreLikeThis(){
            // do something or move this to the backend
        }

        loadMoreLikeThis()
    </script>
</body>

</html>